<div id="login">
    <div id="main" >
        <h2 style="padding-bottom: 40px;">Welcome to Sea Side Bank</h2>
       

        <form>
            <div class="form-group">
                <label for="usersName">Users Name</label>
                <input id="usersName" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="text" class="form-control">
            </div>

            <button type="button" class="btn btn-light" routerLink="/home" >Sign In</button>
        </form>
        <br>

        <a routerLink="/sign_in" style="color: white;" classs="btn btn-link d-inline-block">Forgot password?</a> 

    </div>
</div>




