<app-navigation></app-navigation>

<div id="main">

    <h4>Account</h4>
    <hr>

    <table datatable class="row-border hover" *ngIf="accounts">
      <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{account.id}}</td>
            <td>{{account.name}}</td>
            <td>{{account.description}}</td>
            <td>{{account.amount}}</td>
            <td>{{account.status}}</td>
  
            
        </tr>
      </tbody>
    </table>
</div>

